body{
    margin-top: 180px;
}

.input-sign-in {
    margin-left: auto;
    margin-right: auto;
    width: 200px;    
}

.btn-sign-in {
    margin-top: 10px;
}

.input-voting-session-type {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 200px;    
}
